<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Template</title>
</head>
<body>
    <div class="img-container">
        <img src="perfil.jpg" alt="MinhaFoto" class="img-perfil">
    </div>
    <h1>Arthur Ivaza Costa</h1>

    <h2>Software Engineer</h2>

    <div class="contact-info">
        <div class="info-item">
            <strong>Endereço:</strong><br>
            Rua Mossoró, 625 - ap 404
        </div>
        <div class="info-item">
            <strong>Telefone:</strong><br>
            +55 43 9 8436 3650
        </div>
        <div class="info-item">
            <strong>Email:</strong><br>
            arthurivazacostaa@gmail.com
        </div>
    </div>

    <div class="profile-container">
        <div class="profile-title">Profile</div>
        <div class="profile-text">
         Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem, ut hic! Nihil at aut suscipit recusandae alias in voluptates, quos esse, aliquam voluptas assumenda quia sequi excepturi debitis. Quo, quos.
        </div>
      </div>
    
      <div class="employment-container">
        <div class="employment-title">Employment</div>
        <div class="employment-content">
          <div class="job">
            <div class="job-period">
              <strong>Oct 2012 – Sep 2015</strong>
              <span>New York</span>
            </div>
            <div class="job-details">
              <strong>UI Designer at Market Studios</strong>
              <p>
               Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi, iure error aspernatur accusantium maiores impedit nam architecto eligendi reprehenderit, eum quia deleniti dolor minus nobis ipsam est. Laudantium, reprehenderit libero.
              </p>
            </div>
          </div>
      
          <div class="job">
            <div class="job-period">
              <strong>Oct 2015 – Jan 2018</strong>
              <span>Los Angeles</span>
            </div>
            <div class="job-details">
              <strong>Graphic Designer at FireWeb</strong>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam rem tempore voluptas ea reprehenderit dolorum voluptatum est illum, odio voluptate mollitia fuga architecto numquam! Quo assumenda nemo suscipit quod voluptates.
              </p>
            </div>
          </div>
        </div>
      </div>
    
      <div class="education-container">
        <div class="education-title">Education</div>
        <div class="education-content">
          <div class="education-item">
            <div class="education-period">
              <strong>Sep 2005 – Aug 2010</strong>
              <span>Los Angeles</span>
            </div>
            <div class="education-details">
              <strong>Los Angeles University</strong>
              <p>Master of Graphic Design</p>
            </div>
          </div>
        </div>
      </div>
      
      <div class="skills-container">
        <div class="skills-title">Skills</div>
        <div class="skills-content">
            <ul class="skills-list">
                <li>Figma</li>
                <li>Adobe Photoshop</li>
                <li>Premiere Pro</li>
                <li>Sketch</li>
                <li>Adobe Illustrator</li>
                <li>After Effects</li>
            </ul>
        </div>
    </div>
    
    
</body>
</html>